<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="WobbleCodeRestBundle">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="KERNEL_DIR" value="Tests/Fixtures/"/>
        <server name="KERNEL_CLASS" value="WobbleCode\RestBundle\Tests\Fixtures\TestKernel"/>
    </php>
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
